body{
    background-color: #080808;
    color: #fa0404;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #fcfcfc;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 1em;
}
footer{
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 2em;
    text-align: right;
}

main{
    padding: 20px;
}
h2{
    color: #0066cc;
}

h3{
    color: #3dfa04;
    text-align: center;
}